* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    font-family: "Oxanium", sans-serif;

    --background-color: linear-gradient(to bottom, #6ab7f5, #fff);
    --text_pokemon_data: #aaa;
    --text-name-pokemon: #3a444d;
    --sombreamento-imput-1: #888;
    --sombreamento-secundario: #333;
    --sombramento-buttons: #222;
    --sombreamento-border: #000;
    --text-button: white;
    --color-button: #444;
}

body {
    text-align: center;
    background: var(--background-color);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 1.5rem;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;

}

.pokemon_image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: var(--text_pokemon_data);
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon_name {
    color: var(--text-name-pokemon);
    text-transform: capitalize;

}


form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;

}

.input_search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid var(--sombreamento-secundario);
    border-radius: 5px;
    font-weight: 600;
    color: var(--text_pokemon_data);
    font-size: clamp(9px, 5vw, 1px);
    box-shadow: -3px 4px 0 var(--sombreamento-imput-1), -5px 7px 0 var(--sombreamento-secundario);
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 60%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

button {
    width: 50%;
    padding: 4%;
    border: 2px solid var(--sombreamento-border);
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: var(--text-button);
    background-color: var(--color-button);
    box-shadow: -2px -3px 0 var(--sombramento-buttons), -4px 6px 0 var(--sombreamento-border);


}

button:active {
    box-shadow: inset -4px 4px 0 var(--sombramento-buttons);
    font-size: 0.9rem;

}